@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* google font great vibes  */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


/* Shared style  */

.font-family-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.font-family-great-vibes {
    font-family: "Great Vibes", cursive;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    background-repeat: no-repeat;
}

.primary-color {
    color: rgb(230, 83, 60);
}

.primary-bg {
    background-color: rgb(230, 83, 60);
}

.primary-button {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    font-weight: 600;
    font-size: calc(18rem / 16);
    color: white;
}

.section-title {
    color: white;
    font-size: calc(48rem / 16);
    font-weight: 900;
    margin: 0;
    margin-bottom: 14px;
}

.section-description {
    color: rgba(255, 255, 255, 0.5);
}

/* Shared style  */
/* header style  */
header,
.change-habit {
    max-width: 1060px;
    margin: 0 auto;
}

/* nav style  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-weight: 800;
    font-size: calc(36rem / 16);
}

.nav-items {
    display: flex;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    font-weight: 400;
    font-size: calc(18rem / 16);
    margin: 12px 45px;
    color: white;
}

.home-button {
    border-radius: 46px;
    padding: 8px 20px 8px 20px;

}

.hambargar-icon {
    display: none;
    font-size: 24px;
    color: white;
}

/* banner style  */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content-container {
    max-width: 520px;
}

.banner-heading {
    font-size: calc(78rem / 16);
    font-weight: 900;
    margin: 0;
    margin-bottom: 28px;
    color: white;
}

.italic-bannar-haeding {
    font-weight: 100;
    font-size: calc(100rem / 16);
}

.banner .btn-container {
    display: flex;
    gap: 14px;
}

.btn-container .Download-app {
    background: none;
    border: 1px solid rgb(255, 255, 255);
}

.banner-image-container {
    max-width: 50%;
    position: relative;
}

.banner-image-container img {
    position: relative;
    width: 100%;
}

.bage-360,
.bage-500 {
    width: 206px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 23px;

}



.bage-500 {
    position: absolute;
    top: 133px;
    right: -72px;
    z-index: 1;
}

.bage-360 {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    bottom: 100px;
    left: -132px;
}

.bage-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.bage-360 .bage-number {
    color: white;
    font-weight: 900;
    font-size: calc(24rem / 16);
    margin: 0;
}

.bage-500 .bage-number {
    color: white;
    font-weight: 900;
    font-size: calc(40rem / 16);
    margin: 0;
}

/* change habit section style start  */
.change-habit .section-title,
.section-description {
    text-align: center;
}

.change-habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 54px;
}

.change-habit-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-habit-card-image {
    border-radius: 50%;
    border: 2px solid gray;
}

.change-habit-card-haeding {
    font-size: calc(18rem / 16);
    color: white;
    font-weight: 600;
    margin: 0;
    text-align: center;
    margin-top: 30px;
}

.change-habit-card .section-description {
    text-align: center;
}

/* media Quiry  */
/* mobile devises  */

@media screen and (max-width: 576px) {
    body {
        padding: 0 20px;
    }

    .nav-items {
        display: none;
    }

    .hambargar-icon {
        display: block;
    }

    .banner {
        flex-direction: column;
    }

    .bage-500 {
        width: 145px;
        top: 33px;
        right: -102px;
    }

    .bage-360 {
        width: 145px;
        bottom: 30px;
        left: -102px;
    }

    .change-habit-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}

/* medium devised  */
@media screen and (min-width:576px) and (max-width:992px) {
    body {
        padding: 0 20px;
    }

    .nav-items {
        display: none;
    }

    .hambargar-icon {
        display: block;
    }

    .banner {
        flex-direction: column;
    }

    .change-habit-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}